{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'accordion/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <title>Story 7 - Accordion</title>
</head>

<body>
    <div class="wrapper col-12">
        <div class="d-flex flex-column justify-content-start align-items-center py-5 col-lg-8 mx-auto">
            <h1 class="mb-5">Hi, Imam's here.</h1>

            <div class="accordion col-md-10 p-0 mt-2 accordion-2" id="accor2">
                <div class="header d-flex justify-content-between align-items-center">
                    <h2 class="pl-4 py-2 title col-9 mb-0">About</h2>
                    <div class="buttons d-flex justify-content-end col-3 p-0">
                        <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&uarr;</h2>
                        </div>
                        <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&darr;</h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="px-4 py-3 m-0">
                        <p style="text-align: justify;">My name is Ahmad Imam Fauzan. My friends usually call me with Imam. I was born on May 28th 2000. I’m a college student in Computer Science University of Indonesia (Fasilkom UI) majoring Information System. I do really like design
                            and for me design is such a thing, I really enjoy it that much. I also into UI/UX and still studying about it. My daily lives is standard like another teenagers in general. That is studying and procrastination, watching youtube
                            or netflix, weight-lifting, swimming, etc. I’m kinda a quiet and calm person, but I do really like to discuss about something interesting with other people, such as design, studies, games, weight-lifting, etc. If you want to
                            know about me, we can have a chit-chat through my social media.</p>
                    </div>
                </div>
            </div>
            <div class="accordion col-md-10 p-0 mt-2 accordion-3" id="accor3">
                <div class="header d-flex justify-content-between align-items-center">
                    <h2 class="pl-4 py-2 title col-9 mb-0">Activities</h2>
                    <div class="buttons d-flex justify-content-end col-3 p-0">
                        <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&uarr;</h2>
                        </div>
                        <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&darr;</h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="px-4 py-3 m-0">
                        <ul>
                            <li>Studying Information System</li>
                            <li>Studying Programming</li>
                            <li>Watching netflix, youtube, etc</li>
                            <li>Weightlifting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion col-md-10 p-0 mt-2 accordion-4" id="accor4">
                <div class="header d-flex justify-content-between align-items-center">
                    <h2 class="pl-4 py-2 title col-9 mb-0">Experiences</h2>
                    <div class="buttons d-flex justify-content-end col-3 p-0">
                        <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&uarr;</h2>
                        </div>
                        <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&darr;</h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="px-4 py-3 m-0">
                        <ul>
                            <li>Deputy of Media Bureau Badan Eksekutif Mahasiswa Fasilkom UI</li>
                            <li>Staff of Startup Academy COMPFEST 12 Fasilkom UI</li>
                            <li>Staff of Creative Pemilihan Raya Fasilkom UI</li>
                            <li>Volunteer - Savior 9th Ramadhan Jazz Festival Remaja Islam Cut Meutia, Menteng</li>
                            <li>Staff of Publication and Documentation Olimpiade Elektro Jakarta State Polytechnic</li>
                            <li>Secretary Majelis Perwakilan Kelas (MPK) 39 Senior High School Jakarta</li>
                            <li>Staff of Public Relation & Documentation Cijantung Kampus Expo (CIKAMPEX) 39 Senior High School Jakarta</li>
                            <li>Staff of Documentation GADOGADO 7: REBORN & 8:AETHER 39 Senior High School Jakarta</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion col-md-10 p-0 mt-2 accordion-5" id="accor5">
                <div class="header d-flex justify-content-between align-items-center">
                    <h2 class="pl-4 py-2 title col-9 mb-0">Achievements</h2>
                    <div class="buttons d-flex justify-content-end col-3 p-0">
                        <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&uarr;</h2>
                        </div>
                        <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                            <h2>&darr;</h2>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="px-4 py-3 m-0 d-flex flex-column">
                        <ul>
                            <li>1st Place Vocal Group Newbie Cup Fasilkom UI 2019</li>
                            <li>5th Place Journalistic Report Competition</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'accordion/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>