body {
    font-family: Poppins;
}

.wrapper {
    min-height: 100vh !important;
    transition: .5s ease-out;
    background-color: #fbf6f0;
}

.header {
    background-color: #aee6e6;
    color: #555555;
    height: 3.5rem;
    transition: .5s ease-out;
}

.header h2 {
    font-size: 20px;
}

.header:hover {
    cursor: pointer;
}

.buttons {
    height: 3.5rem;
}

.up {
    background-color: #ffa45b;
    color: white;
    transition: .5s ease-out;
}

.up:hover,
.down:hover {
    opacity: 0.9;
}

.down {
    background-color: #ffda77;
    color: white;
    transition: .5s ease-out;
}

.content {
    background-color: #f9fcfb;
    display: none;
}

.title:hover {
    color: black;
}

.accordion-1 {
    order: 1;
}

.accordion-2 {
    order: 2;
}

.accordion-3 {
    order: 3;
}

.accordion-4 {
    order: 4;
}

.accordion-5 {
    order: 5;
}

.change-theme {
    order: 6;
}

.switch {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: #dfd9ea;
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
}

.switch::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fafafa;
    border-radius: 50%;
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
}

input:checked+.switch {
    background: #1b45ff;
}

input:checked+.switch::before {
    left: 27px;
    background: #fff;
}

input:checked+.switch:active::before {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
}

@media only screen and (max-width: 430px) {
    .header>h2 {
        font-size: 1.2em !important;
    }
}